<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./hf/meta.ejs') %>
    <title>Kingdom Envoy - Homepage</title>

</head>

<body>
    <%- include('./hf/header.ejs') %>

    <%- include('./components/carousel.ejs') %>

    <%- include('./components/announcement.ejs') %>

    <%- include('./components/fab.ejs') %>

    <!-- <%- include('./components/ministries.ejs') %> -->
    
    <%- include('./components/contactDetails.ejs') %>
    
    <%- include('./components/services.ejs') %>

    <%- include('./hf/footer.ejs') %>
